target/

.idea/
/out/
*/out/

*/*.iml
*.iml

git.properties

npm-debug.log
*.classpath
*.project
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
org.eclipse.jdt.groovy.core.prefs
org.eclipse.wst.common.component
org.eclipse.wst.common.project.facet.core.xml
.settings/
logs/
node_modules/
