<div>
  <label>First name:
    <input [(ngModel)]="dismissalNotice.firstName" placeholder="First name">
  </label>
</div>
<div>
  <label>Last name:
    <input [(ngModel)]="dismissalNotice.lastName" placeholder="Last name">
  </label>
</div>
<div>
  <label>Street:
    <input [(ngModel)]="dismissalNotice.homeAddress.street" placeholder="Street">
  </label>
</div>
<div>
  <label>Postal code:
    <input [(ngModel)]="dismissalNotice.homeAddress.postalCode" placeholder="Postal code">
  </label>
</div>
<div>
  <label>City:
    <input [(ngModel)]="dismissalNotice.homeAddress.city" placeholder="City">
  </label>
</div>
<div>
  <label>Company name:
    <input [(ngModel)]="dismissalNotice.companyName" placeholder="Company name">
  </label>
</div>
<div>
  <label>Street:
    <input [(ngModel)]="dismissalNotice.companyAddress.street" placeholder="Street">
  </label>
</div>
<div>
  <label>Postal code:
    <input [(ngModel)]="dismissalNotice.companyAddress.postalCode" placeholder="Postal code">
  </label>
</div>
<div>
  <label>City:
    <input [(ngModel)]="dismissalNotice.companyAddress.city" placeholder="City">
  </label>
</div>
<div>
  <label>Agreement date:
    <input [(ngModel)]="dismissalNotice.agreementDate" placeholder="Agreement date">
  </label>
</div>
<div>
  <label>Dismissal date:
    <input [(ngModel)]="dismissalNotice.dismissalDate" placeholder="Dismissal date">
  </label>
</div>
<div>
  <label>Dismissal place:
    <input [(ngModel)]="dismissalNotice.dismissalPlace" placeholder="Dismissal place">
  </label>
</div>
